.container {
    display: flex;
}

.item_1 {
    background-color: green;
    color: white;
    text-align: center;
    flex-grow: 2;
}

.item_2 {
    background-color: blue;
    color: white;
    flex-grow: 1;
    text-align: center;
}
