.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}

.side{
    display: flex;
    flex-direction: row;
}

.side-bar{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.nav-logo{
    margin: 5px;
}

.nav-create{
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.nav-user{
    margin-left: 10px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    width: 20px;
}

.nav-search{
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    text-align: left;
    padding: 10px;
}

.item{
    margin-bottom: 50px;
}
