.nav-bar{
    display: flex;
    border-top: 1px solid gray;
    padding: 2px;
}

.nav-heading{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item{
    padding: 14px 20px;
}