.container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.item {
    background-color:darkslateblue;
    border: 1px solid darkgreen;
    color: white;
    flex-grow: 1;
    margin: 10px;
    text-align: left;
}